extends index

block content
    section.spec-todo
        h3.edit-head Edit Todo
        form.spec-form(action=`/edit/${inputValue.id}`, method="POST")
            input.todo-input.edit-input(type="text" name="editTask" placeholder="Edit.." maxlength=50 value=inputValue.task autofocus)
            button.btn.done-btn(type="sumbit")
                i.fa.fa-check-circle